*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

html, body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: white;
}

nav.main-nav {
  border-bottom: 1px solid white;
}

div.hero-foot {
  border-top: 1px solid white;
  padding: 2.5px 15px 1.5px 5px;
}

.console-tab-items {
  margin: 15px;
}

.console-option-action {
  margin-left: 15px;
}

.console-option-settings {
  margin-left: 10px;
}

.fullscreen {
  position: fixed;
  top: 135px;
  bottom: 45px;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  z-index: 255;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.console-terminals-list div {
  z-index: 0;
}

.console-terminals-list div.is-active {
  z-index: 255;
}

.tabs .console-tab-items li {
  opacity: .3;
}

.tabs .console-tab-items li.is-active {
  opacity: 1;
}

.tabs .console-tab-items li a {
  border-bottom: none;
}

.console-tab-items-wrapper {
  height: 70px;
}

.quickview {
  z-index: 500;
}

.quickview-header {
  height: 53px;
}

.quickview-header {
  border-bottom: none;
}

footer.quickview-footer {
  min-height: 37px;
  border-top: none;
}
