*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

html, body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: white;
}

.fullscreen {
  position: fixed;
  top: 75px;
  bottom: 40px;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  z-index: 255;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
