<section class="hero is-success is-fullheight">

  <div class="hero-head">
    <div class="container">
    </div>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column">
          <a class="button is-primary">CMD</a>
        </div>
        <div class="column">
          <a class="button is-primary">Power Shell</a>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <div class="container">
    </div>
  </div>

</section>
